<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moviedownloadbtweb.mapper.MovieBtMapper">
<!--    新增电影-->
    <insert id="addMovie" parameterType="com.example.moviedownloadbtweb.domain.MovieBt">
        INSERT INTO movie(movie_name, category, create_time, update_time, bt_download_url, subtitle_download_url, count_download)
        VALUES (#{movieName}, #{category}, #{createTime}, #{updateTime}, #{btDownloadUrl}, #{subtitleDownloadUrl}, 1)
    </insert>
<!--    根据id修改电影信息-->
    <update id="updateMovie" parameterType="com.example.moviedownloadbtweb.domain.MovieBt">
        UPDATE movie
        <set>
            <if test="movieName != null and movieName != ''">
                movie_name = #{movieName},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="btDownloadUrl != null and btDownloadUrl != ''">
                bt_download_url = #{btDownloadUrl},
            </if>
            <if test="subtitleDownloadUrl != null and subtitleDownloadUrl != ''">
                subtitle_download_url = #{subtitleDownloadUrl}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
<!--    删除电影信息 by id-->
    <delete id="deleteMovie">
        DELETE FROM movie
        <where>
            id = #{id}
        </where>
    </delete>
<!--    根据点击次数列出电影信息，由大到小-->
    <select id="listMovieByClickNumber" resultType="com.example.moviedownloadbtweb.domain.MovieBt">
        SELECT id, movie_name, category, create_time, update_time, bt_download_url, subtitle_download_url
        FROM movie
        ORDER BY count_download
        DESC
    </select>
<!--    访问该url后，数据库中的count_download次数+1-->
    <update id="countAddOne" >
        UPDATE movie
        <set>
            count_download = count_download + 1
        </set>
        WHERE bt_download_url = #{btDownloadUrl}
    </update>
<!--    查询数据库中，电影的总记录数-->
    <select id="countMovie" resultType="java.lang.Integer">
        SELECT count(*)
        FROM movie
    </select>
<!--    分页的sql，接收两个参数，一个起始索引，一个每页的数据列表返回数-->
    <select id="pageMovie" resultType="com.example.moviedownloadbtweb.domain.MovieBt">
        SELECT id, movie_name, category, update_time, bt_download_url, subtitle_download_url, count_download
        FROM movie
        LIMIT #{indexStart}, #{pageSize}
    </select>
<!--    根据id查电影信息-->
    <select id="getMovieById" resultType="com.example.moviedownloadbtweb.domain.MovieBt">
        SELECT *
        FROM movie
        WHERE id = #{id}
    </select>

    <select id="searchMovieByMovieName" resultType="com.example.moviedownloadbtweb.domain.MovieBt">
        SELECT *
        FROM movie
        WHERE movie_name LIKE CONCAT('%', #{movieName}, '%')
    </select>
</mapper>