<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.moviedownloadbtweb.mapper.UserMapper">
<!--    用户注册-->
    <insert id="registerUser">
        INSERT INTO user(username, password, avatar_url)
        VALUES (#{username}, #{password}, #{avatarUrl})
    </insert>
<!--    修改用户信息-->
    <update id="updateUser">
        UPDATE user
        <set>
            <if test="username != null and username !=''">
                username = #{username},
            </if>
            <if test="password != null and password !=''">
                password = #{password},
            </if>
            <if test="avatarUrl != null and avatarUrl !=''">
                avatar_url = #{avatarUrl},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="getUserById" resultType="com.example.moviedownloadbtweb.domain.User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>
</mapper>